<!DOCTYPE html>
<html> <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Генератор случайных фамилии, имени и отчества с учетом их встречаемости в реальной жизни. Пол можно выбрать или использовать случайный.">
    <meta name="keywords" content="Генератор фамилий, имен, списком, отчеств, ФИО, случайных, рандом, рандомайзер">

            <meta property="og:site_name" content="Рандомус">
    <meta property="og:title" content="Генератор фамилий, имен и отчеств | Рандомус">
    <meta property="og:type" content="website">

    <title>Генератор фамилий, имен и отчеств | Рандомус</title>



</head>

<body>
<div class="rand-modal-cover is-hidden"></div>
<div class="rand-modal-modal is-hidden">
    <div class="rand-modal-content is-hidden">

    </div>
</div>

<div class="container" style="height: auto !important;">

<div class="columns custom-columns is-8 is-variable" style="height: auto !important;">
    <div class="column is-narrow">
        <div class="notification has-background-white-bis box form-box">
    <div class="content">
        <h1 class="title is-4">
            <a class="no_decoration" href="https://randomus.ru/name">
                Генератор фамилий, имен и отчеств            </a>
        </h1>
        <p class="subtitle is-6">с учетом реальной частоты их использования в современном мире</p>
        <form id="name_generate" name="name_generate" action="/main" method="get" data-loadtext="Мы готовим для вас результаты">
            <div class="field">
                <div class="label">
                    <label class="label">Формат</label>
                </div>
                <div class="field">
                    <div class="field">
                        <div class="control">
                            <div class="select">
                                <select name="type"><option value="0" selected="">Русский. Полные ФИО</option><option value="1">Русский. Фамилия и имя</option><option value="2">Русский. Имя и Фамилия</option><option value="3">Русский. Фамилия и инициалы</option><option value="4">Русский. Инициалы и фамилия</option><option value="5">Русский. Имя</option><option value="101">English. Имя и Фамилия</option></select>                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <label class="label">Пол</label>
                </div>
                <div class="field">
                    <div class="field">
                        <div class="control">
                            <div class="select">
                                <select name="sex"><option value="10" selected="">любой</option><option value="0">мужской</option><option value="1">женский</option></select>                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <label class="label">Получить</label>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="level is-mobile">
                            <div class="level-left">
                                <div class="level-item">
                                    <input id="name_count" name="count" class="input with_numeral" type="number" value="10" min="1" max="100" size="3" autocomplete="off" data-label="num_label">
                                </div>
                                <div class="level-item"><span id="num_label" data-titles="имя,имени,имен">имен</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field mt-4">
                <div class="control">
                    <button type="submit" class="button is-link">Сгенерировать</button>
                </div>
            </div>
        </form>
    </div>
</div>

            </div>
            </div>

    <div class="column" style="height: auto !important;">
        <div class="container" style="height: auto !important;">




<div id="result_list" class="is-hidden">


<div class="field">
    <div class="control">
        <textarea id="result_textarea" class="textarea is-family-monospace" readonly="" data-numbers="Соколова Анастасия Ивановна,Артамонов Платон Адамович,Громов Иван Никитич,Еремина Алия Леонидовна,Корнеев Илья Павлович,Родин Тимур Даниэльевич,Борисов Иван Романович,Богданова Ульяна Никитична,Осипов Виктор Гордеевич,Нестеров Михаил Львович">
            Соколова Анастасия Ивановна
Артамонов Платон Адамович
Громов Иван Никитич
Еремина Алия Леонидовна
Корнеев Илья Павлович
Родин Тимур Даниэльевич
Борисов Иван Романович
Богданова Ульяна Никитична
Осипов Виктор Гордеевич
Нестеров Михаил Львович</textarea>
    </div>
</div>



</div>




                    </div>
                                    </div>
    </div>

</body>

</html>
